// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Colors
// =================================================================

$colorOne: #8dbf21;
$colorTwo: #55b030;
$colorThree: #26173b;
$colorFour: #e14545;
$colorFive: #3aacdd;

$colorBg: #efefef;
$colorTypeLight: #a1a1a1;

