// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Typography
// =================================================================


// 		Font Families
// =================================================================
	


// 		Weights
// =================================================================
	$light:	100;
	$regular: 400;
	$bold: 600;


// 		Base Font
// =================================================================
	$mainFont: sans-serif;
	$mainFontSize: 18px;



// 		Headings
// =================================================================
	
h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}