// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		All Pages
// =================================================================

// 	Why - Steadcross 
// =================================================================

.why, .approach {
	.description {
		padding-bottom: 50px;
	}
}

.approach {

	.list {
		padding-top: 50px;

		.row {
			&:nth-child(odd) .col-8 {
			padding-left: 100px;
			padding-right: 0;
			}

			&:nth-child(even) .col-8 {
				padding-right: 100px;
				padding-left: 0;
			}

			&:first-child {
				h3 {
					margin-top: 30px;
				}
			}
		}
	}

	@include mq("small", "max-width") { 
		.list {
			padding-top: 0;
		}

		.list .row {

			&:nth-child(odd) .col-8 {
				padding-left: 0px;
				padding-right: 0;
			}
			
			&:nth-child(even) .col-8 {
				padding-right: 0px;
				padding-left: 0;
			}
		}
	}

	.logo {
		padding: 0 70px 70px 70px;
	}
}

.why {

	.list {
		padding-top: 50px;

		.row {
			&:nth-child(odd) .col-8 {
			padding-right: 100px;
			padding-left: 0;
			}

			&:nth-child(even) .col-8 {
				padding-left: 100px;
				padding-right: 0;
			}

			&:first-child {
				h3 {
					margin-top: 30px;
				}
			}
		}
	}

	@include mq("small", "max-width") { 
		.list {
			padding-top: 0;
		}

		.list .row {

			&:nth-child(odd) .col-8 {
				padding-right: 0px;
				padding-left: 0;
			}
			
			&:nth-child(even) .col-8 {
				padding-right: 0px;
				padding-left: 0;
			}
		}

		
	}

	@include mq("small", "max-width") { 
		.cta .link-btn-one {
			width: 100%;
			@include aspect-ratio(16, 3);

			img {
				width: 80px;
				right: 25px;
			}

			h3 {
				left: 25px;
			}
		}

		.cta .link-btn-one:nth-child(1) {
			display: none;
		}
	}

	@include mq("extra-small", "max-width") { 
		.cta .link-btn-one {
			width: 100%;
			@include aspect-ratio(16, 4.5);

			img {
				width: 65px;
				right: 10px;
			}

			h3 {
				top: 25px;
				left: 25px;
				width: 50%;
				font-size: 1em;
			}
		}
	}

	@include mq("nano", "max-width") { 
		.cta .link-btn-one {
			h3 {
				width: 60%;
				top: 20px;
			}

			img {
				width: 55px;
			}
		}
	}
}

.service-profile, .services, .case-studies, .page-results, .case-study-profile, .updates, .update, .approach {
	.cta .link-btn-one {
		@include aspect-ratio(16, 3);
		width: 100%;

		img {
			width: 15%;
			top: 7%;
		}
	}

	@include mq("small", "max-width") {
		
		.cta .link-btn-one {
			@include aspect-ratio(16, 3);
		
			h3 {
				left: 25px;
			}
		}	
	}

	@include mq("extra-small", "max-width") {
		.cta .link-btn-one {
			@include aspect-ratio(16, 4.7);

			img {
				top: 20px;
			}

			h3 {
				top: 25px;
				left: 25px;
				font-size: 1.3em;
				width: 60%;
			}
		}
	}

	@include mq("super-small", "max-width") {
		.cta .link-btn-one {
			@include aspect-ratio(16, 4.5);

			h3 {
				top: 20px;
				width: 70%;
				font-size: 1em;
			}
		}
	}
}

.page-results {
	padding: 0;

	.discovery-sub h2 {
		top: 45%;
	}
}

.case-studies {
	.page-nav {
		background: $colorBg;
	}
}

.updates {
	.description {
		.col-4 {
			margin-top: 20px;
		}
	}
}

.case-study-profile {
	.description {
		@include mq("medium", "max-width") {
			img {
				display: block;
			}
			
		}
	}
}

.updates, .update {
	.cta {
		padding-top: 0;
	}
}