// =================================================================
// 		Miln Ltd
// 		Header
// =================================================================

header {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 35px 0 0 0;
	background: #fff;

	h1 {
		text-indent: -9999999px;
		width: 100%;
		height: auto;
		overflow: auto;
		background: url(img/logo.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0 0;
		margin-bottom: 35px;
	}

	.col-3 {
		float: right;

		h4 {
			color: $colorThree;
			margin-top: 10px;
			width: 175px;
			float: right;
			text-align: right;
			font-size: 1em;
			font-weight: 300;
		}
	}

	nav {
		@include linear-gradient-b(90deg, $colorOne, $colorTwo);
		z-index: 10;

		ul li {
			float: left;
		}

		ul ul.submenu {
			position: absolute;
			display: none;
			opacity: 0;
			left: 0;
			margin-top: 51px;
			z-index: 50;

			a {
				color: $colorTypeLight;
			}
		}

		a {
			display: block;
			font-size: 0.9em;
			font-weight: 500;
			padding: 18px 17px;
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
		}

		a.telephone {
			font-size: 1.1em;
			font-weight: 300;
			text-align: right;
			padding: 15px 0;
		}
	}

	.submenu-holder {
		display: none;
		position: relative;
		z-index: 5;
		width: 100%;
		height: 50px;
		background: $colorBg;
	}

	@include mq("medium", "max-width") {
		.col-3 {
			display: none;
		}
	}
}