// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Links
// =================================================================

.link-btn-one {
	@include aspect-ratio(16, 8);
	width: 100%;
	@include linear-gradient-b(90deg, $colorOne, $colorTwo);

	h3 {
		position: absolute;
		top: 36%;
		color: #fff;
		width: 60%;
		left: 75px;
	}

	img {
		position: absolute;
		top: 15%; 
		right: 0;
		width: 30%;
	}

	@include mq("small", "max-width") {
		
		.cta .link-btn-one {
			@include aspect-ratio(16, 3);
		}

		h3 {
			left: 0;
			width: 60%;
			font-size: 1.2em;
		}
	}

	@include mq("extra-small", "max-width") {
		.cta .link-btn-one {
			@include aspect-ratio(16, 4.7);

			img {
				top: 20px;
			}

			h3 {
				top: 23px;
				left: 10px;
				font-size: 1.3em;
				width: 40%;
			}
		}
	}

	@include mq("super-small", "max-width") {
		.cta .link-btn-one {
			@include aspect-ratio(16, 4.5);

			h3 {
				width: 70%;
				font-size: 1.05em;
			}
		}
	}
}