// =================================================================
// 		Miln Ltd
// 		Sections
// =================================================================

.slider {
	width: 100%;
	background: $colorThree;
	height: auto;
	overflow: auto;
	position: relative;

	.swiper-slide {
		background-color: $colorThree;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0 0;
		height: 400px;
		padding: 0;

		h5 {
			color: $colorOne;
			text-transform: uppercase;
			font-weight: 600;
			text-align: left;
			line-height: 1em;
			font-size: 1em;
			padding-top: 10px;
		}

		h1 {
			color: #fff;
			text-align: left;
			font-size: 6.5em;
			font-weight: 700;
			line-height: 1em;
		}

		h3 {
			color: #fff;
			text-align: left;
			font-size: 2.7em;
			line-height: 1em;
			font-weight: 600;
		}

		a {
			color: $colorOne;
			text-decoration: none;
			text-align: left;
			display: inline-block;
			padding-top: 25px;
			text-align: left;
			float: left;
			font-size: 1.1em;
			position: relative;

			&:after {
				content: "";
				display: block;
				float: right;
				background-image: url("img/svg/arrow-green-circle.svg");
				width: 25px;
				height: 25px;
				margin-left: 14px;
			}
		}

		.col-6 {
			float:right;

			img {
				width: 95%;
				height: auto;
				margin-top: -90px;
			}
		}
	}

	.swiper-controls {
		width: intrinsic;
		display: block;
		margin: 0px auto;
		width: 230px;
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -115px;

		.swiper-pagination, .swiper-button-next, .swiper-button-prev {
			position: relative;
		}

		.swiper-button-prev {
			float: left;
			top: -4px;
		}

		.swiper-button-next {
			float: right;
			top: -4px;
		}

		.swiper-pagination {
			display: block;
			padding-top: 10px;

			span {
				margin: 0 5px;
			}
		}
	}

	@include mq("medium", "max-width") {
		.col-4 {
			width: 38%;

			h5 {
				padding-top: 0;
			}
		}
	}

	@include mq("small", "max-width") {
		.col-4 {
			width: 50%;
			padding-top: 0px;
		}

		.col-6 {
			position: absolute;
			top: 30px;
			right: 0;
			width: 55%;
		}

		.swiper-button-next, .swiper-button-prev {
			display: none;
		}
	}

	@include mq("extra-small", "max-width") {
		.slider {
			box-sizing: border-box;
			padding: 0;
		}

		.col-4 {
			width: 70%;
			position: relative;
			z-index: 5;

			h5 {
				font-size: 0.7em;
				padding-top: 0;
			}

			h1 {
				font-size: 4em;
				margin-bottom: 5px;
			}

			h3 {
				font-size: 1.5em;
			}

			a {
				margin-top: 0;
			}
		}

		.col-6 {
			top: 60px;
			right: -130px;
			width: 90%;
			z-index: 1;
		}

		.swiper-controls {
			display: none;
		}

		.swiper-slide {
			height: 250px;
		}
	}

}

.results {
	width: 100%;
	background: $colorBg;
	padding: 25px 0;
	height: auto;
	overflow: auto;

	h4 {
		text-transform: uppercase;
		color: $colorOne;
		letter-spacing: 1px;
		display: block;
		margin-top: 3px;
		font-size: 1em;
	}

	h5 {
		font-weight: 200;
		padding-right: 35px;
		border-right: 1px solid $colorTypeLight;
		color: $colorTypeLight;
	}

	.col-3:last-child h5 {
		border-right: 0px;
	}

	@include mq("small", "max-width") {
		.col-3 {
			width:(100% / 3) - ($grid-spacing * 8 / 12);
			box-sizing: border-box;

			&:last-child {
				display: none;
			}
		}
		.col-3:nth-child(3) {
			margin-right: 0;

			h5 {

			}
		}
	}

	@include mq("extra-small", "max-width") {
		display: none;
	}
}

.description {
	padding: 40px 0;
	box-sizing: border-box;

	h3 {
		font-weight: 600;
		color: $colorThree;
		font-size: 2em;
		line-height: 1.15em;
		margin-bottom: 0.5em;
	}

	img {
		margin-top: 40px;
		margin-bottom: 25px;
		width: 100%;
		height: auto;
	}

	h4 {
		color: $colorOne;
		font-size: 1.2em;
		margin: 0.5em 0;
	}

	p, li, h5 {
		font-weight: 200;
		color: $colorThree;
		font-size: 1.2em;
		line-height: 1.4em;
	}

	p.large {
		font-size: 1.6em;
	}

	p.bold {
		font-weight: 500;
	}

	ul {
		padding-top: 0.5em;
	}

	h5 {
		font-weight: 400;
		color: $colorOne;
	}

	@include mq("medium", "max-width") {
		.col-8 {
			width:(100% / 1.2) - ($grid-spacing * 2 / 12);
		}

		p.large {
			font-size: 1.5em;
		}
	}

	@include mq("small", "max-width") { 
		.col-8 {
			width: 100%;
		}

		p.large {
			font-size: 1.4em;
		}
	}

	@include mq("extra-small", "max-width") { 
		padding: 12px 0;

		p.large {
			font-size: 1.1em;
		}
	}
}

.discovery {
	padding: 0 0 40px 0;

	@include mq("small", "max-width") { 
		
		.col-4 {
			width: 100%;

			&:last-child {
				.discovery-item {
					margin-bottom: 0;
				}
			}
		}

		.discovery-item {
			@include aspect-ratio(16, 4);
			margin-bottom: 40px;
		}
	}

	@include mq("extra-small", "max-width") { 
		.discovery-item {
			@include aspect-ratio(16, 7);
			margin-bottom: 25px;
		}
	}
}

.discovery-item {
	width: 100%;
	display: block;
	@include aspect-ratio(10, 6);
	background: $colorThree;
	position: relative;
	@include transition(all, .2s, ease-in-out);

	&.red {
		border-top: 7px solid $colorFour;

		&:hover {
			background: $colorFour;
		}
	}

	&.blue {
		border-top: 7px solid $colorFive;

		&:hover {
			background: $colorFive;
		}
	}

	&.green {
		border-top: 7px solid $colorOne;

		&:hover {
			background: $colorOne;
		}
	}

	h3 {
		color: #fff;
		position: absolute;
		top: 25px;
		left: 25px;
		text-transform: uppercase;
		font-weight: 600;
	}

	p {
		position: absolute;
		bottom: 25px;
		color: #fff;
		left: 25px;

		&:after {
			@include transition(all, .2s, ease-in-out);
			content: "";
			display: block;
			position: absolute;
			width: 25px;
			height: 23px;
			background: url("img/svg/arrow-white-right.svg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			bottom: 10px;
			left: 130px;
		}
	}

	&:hover p:after {
		margin-left: 8px;
	}
}

.header {
	background: $colorThree;
	padding: 23px 0 35px 0;

	h1 {
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
	}

	&.blue {
		border-top: 6px solid $colorFive;
	}

	&.red {
		border-top: 6px solid $colorFour;
	}

	&.green {
		border-top: 6px solid $colorOne;
	}
}

.list {
	border-top: 7px solid $colorOne;
	background: $colorBg;
	padding-bottom: 30px;
	height: auto;
	overflow: auto;

	h2, h3 {
		font-weight: 600;
		color: $colorThree;
	}

	p {
		color: $colorTypeLight;
		font-size: 1.6em;
		font-weight: 200;
	}

	.row {
		padding: 30px 0 50px 0;
		border-bottom: 1px solid $colorTypeLight;

		&:first-child {
			padding: 20px 0 30px 0;
		}

		&:nth-child(even) .col-8 {
			padding-left: 100px;
		}

		&:nth-child(odd) .col-8 {
			padding-right: 100px;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.cta {
	@include linear-gradient-b(90deg, $colorOne, $colorTwo);

	.link-btn-one {
		width: 50%;
		float: left;
	}
}

.discovery-sub {
	background: $colorBg;
	height: auto;
	overflow: hidden;
	padding: 50px 0;
}

.discovery-sub-item {
	@include aspect-ratio(10, 2);
	width: 100%;
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background-image: url("img/svg/diagonal-bg.svg");
	background-repeat: no-repeat;
	background-size: 200% 200%;
	background-position: -1500px -110px;
	@include transition(all, .2s, ease-in-out);

	h2 {
		color: $colorOne;
		position: absolute;
		top: 25%;
		width: 40%;
		left: 50px;
		font-weight: 600;
	}

	h1 {
		color: $colorOne;
		position: absolute;
		top: 43%;
		width: 40%;
		left: 50px;
		font-weight: 600;
	}

	h3 {
		font-weight: 600;
		color: #fff;
		position: absolute;
		top: 27%;
		width: 40%;
		left: 50px;
	}

	img {
		position: absolute;
		right: 20%;
		top: 16%;
		width: 20%;
		height: auto;
	}

	.arrow {
		right: 25px;
		top: 5%;
		width: 15%;
	}

	&:hover {
		background-color: $colorThree;
	}

}

.discovery-sub-item-two {
	@include aspect-ratio(11, 3);
	width: 100%;
	background: $colorThree;
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;

	.diagonal {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("img/svg/diagonal-bg.svg");
		background-repeat: no-repeat;
		background-size: 280% 280%;
		background-position: -2250px -280px;
	}
	

	h2 {
		color: $colorOne;
		position: absolute;
		top: 50px;
		width: 40%;
		left: 50px;
		font-weight: 600;
		z-index: 8;
	}

	h3 {
		font-weight: 600;
		color: #fff;
		position: absolute;
		top: 36%;
		width: 40%;
		left: 50px;
		z-index: 8;
	}

	img {
		position: absolute;
		right: 0%;
		top: 0%;
		width: 70%;
		height: auto;
		z-index: 1;
		@include transition(all, .2s, ease-in-out);
	}

	&:hover img {
		opacity: 0.4;
	}

}

.page-nav {
	padding: 40px 0 0 0;

	a {
		color: $colorTypeLight;
		text-decoration: none;
		font-weight: 300;
	}

	.base {
		padding-right: 30px;
		position: relative;

		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 5px;
			right: 1px;
			width: 20px;
			height: 20px;
			background-image: url("img/svg/arrow-right-grey.svg");
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}
	}
}

.metric {
	background: $colorBg;
	padding: 50px 0;

	img {
		width: 100%;
		height: auto;
		padding: 25px;
	}

	h3 {
		font-weight: 600;
	}

	.col-6 {
		float: right;
		padding-top: 100px;
	}
}

.blog-post {
	display: block;
	padding: 40px 0;
	text-decoration: none;
	border-bottom: 1px solid $colorTypeLight;
	height: auto;
	width: 100%;

	h3 {
		float: left;
		color: $colorOne;
	}

	h5 {
		float: right;
		margin-top: 7px;
		width: intrinsic;
		padding: 3px 12px 6px 12px;
		background: $colorThree;
		color: #fff;
		font-size: 1em;
		@include transition(all, .2s, ease-in-out);
	}

	p {
		width: 100%;
		clear: both;
		display: block;

	}

	&:last-child {
		border-bottom: 0;
	}

	&:hover {
		h5 {
			background: $colorOne;
		}
	}
}

.contact-block {
	background: darken($colorBg, 4%);
	margin-bottom: 40px;
	padding: 0;

	h4 {
		padding-top: 1.5em;
		color: $colorOne;
		font-weight: 600;
		font-size: 1em;
		padding-bottom: 0.3em;
	}

	h4:first-child {
		margin-top: 30px;
	}

	img {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}

	p {
		font-weight: 300;
		line-height: 1.3em;
	}

	a {
		font-weight: 300;
		color: $colorThree;
		padding-bottom: 4px;
		border-bottom: 2px solid $colorOne;
		text-decoration: none;
		display: inline-block;
	}
}
